:root {
    --brand-50: #a7a8ff;
    --brand-100: #8f91ff;
    --brand-200: #7b7dff;
    --brand-300: #6265ff;
    --brand-400: #4b4ef2;
    --brand-500: #3134df;
    --brand-600: #2123c2;
    --brand-700: #1b1da8;
    --brand-800: #00028f;
    --brand-900: #00027d;
    --brand-950: #000261;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cad5e2;
    --slate-400: #90a1b9;
    --slate-500: #62748e;
    --slate-600: #45556c;
    --slate-700: #314158;
    --slate-800: #1d293d;
    --slate-900: #0f172b;
    --slate-950: #020618;
}