:root {
    --brand-50: #a7a8ff;
    --brand-100: #8f91ff;
    --brand-200: #7b7dff;
    --brand-300: #6265ff;
    --brand-400: #4b4ef2;
    --brand-500: #3134df;
    --brand-600: #2123c2;
    --brand-700: #1b1da8;
    --brand-800: #00028f;
    --brand-900: #00027d;
    --brand-950: #000261;
}