/*Inteiros*/
@import url('theme.css');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'Poppins',sans-serif;
        background-color: var(--body_background);
        display: flex;
        flex-direction: column;
    }
    header {
        background-color: var(--hearder_background);
        padding: 0px 15px 0px 15px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
/*Conteúdo*/
    main {
        flex: 1;
    }
    section {
        display: flex;
        flex-direction: column;
        margin: 10px 50px 10px 50px;
    }
    /*Construção*/

    .container {
        display: flex;
        align-items: center;
        background-color: var(--container_background);
        border-radius: 12px;
        box-shadow: 0,0,7px,4px rgba(0, 0, 0, 25%);
    }
        .container .title {
            background-color: var(--container_background_title);
            border-radius: 8px;
            padding: 5px;
        }
        .container .category {
            background-color: var(--container_background_category);
            border-radius: 8px;
            padding: 5px;
        }
        .container .description {
            background-color: var(--container_background_description);
            border-radius: 8px;
            padding: 10px;
            overflow-y: scroll;
        }
        .container .price {
            background-color: var(--container_background_price_numbers);
            border-radius: 8px;
            padding: 5px;
            height: 15px;
        }
        .container .numbers {
            background-color: var(--container_background_price_numbers);
            border-radius: 8px;
            padding: 5px;
            height: 15px;
        }
        .container .eletronic {
            width: 240px;
            height: 175px;
        }
/*Botões*/
    :root {
        --text-opacity: 0;
        }

    :root:has(#modal-local #add:hover) {
        --text-opacity: 1;
        }
    #modal-local {
        display: flex;
        align-items: center;
    }
    #text-modal {
            opacity: var(--text-opacity);
            color: var(--text_color);
            background-color: var(--Add_background);
            border-radius: 0 14px 14px 0;
            padding: 10px;
            transition: opacity 0.3s ease-in-out;
        }
#add {
    background-color: var(--Add_background);
    border-radius: 16px;
    border: 0;
    padding: 10px;
    margin: 10px;
    
    display: flex;
    align-items: center;
}
#add img {
    width: 30px;
    height: auto;
}
/*Input*/
#form-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background: var(--body_background);
  box-shadow: 0 0 3px 3px var(--Add_background);
  padding: 20px;
  border-radius: 38px;
  margin:  0 120px  0 120px ;
  z-index: 999;
  place-self: center;
  border: none;
}
#name, #catego, #preco, #quantia, #descrip {
  width: 100%;
  border: none;
  border: solid var(--container_background_title) 2px;
  border-radius: 24px;
  padding: 14px;
  font-size: 17px;
  transition: transform 0.3s ease-in-out , box-shadow  0.3s ease-in-out;
}
.dialog-backdrop-div {
    z-index: 998;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--slate-400);
    opacity: .3;
}
#form-modal::backdrop {
    display: none;
}
:where(#name, #catego, #preco, #quantia, #descrip):hover {
  transform: scale(1.01) ;
  box-shadow: 2px 2px 5px var(--Add_background);
}
:where(#name, #catego, #preco, #quantia, #descrip):focus {
    outline: none;
    border: solid var(--container_background_title) 2px;

}
#descrip {
    resize: none;
    grid-column: 1;
    overflow-y: auto;
}
/*Rodapé*/
    footer {
        /* position: fixed; */
        bottom: 0;
        left: 0;
        background-color: var(--footer_background);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
    }